.css-bayan {
  cursor: pointer;
}

.css-bayan-title {
  font-size: 2.5rem;
  padding: 1.4rem 0;
}

.css-bayan__title {
  font-size: 1.5rem;
}

.css-bayan__label {
  display: block;
  z-index: 10;
  color: #0020d5;
  line-height: 2.1rem;
  font-size: 1.1rem;
  cursor: pointer;
  border-top: 2px solid #cbcbcb;
}
.css-bayan__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  transition: color 0.3s ease 0s;
}
.css-bayan__icon {
  opacity: 0;
  width: 1.1rem;
  height: 1.1rem;
  transition: transform 0.2s ease 0s;
}

.css-bayan__icon path {
  transition: fill 0.3s ease 0s;
}

.css-bayan__article-meme {
  height: 100%;
}

.css-bayan__item:hover > .css-bayan__label > .css-bayan__article > .css-bayan__article-meme {
  transition: transform 0.3s ease-in-out 0s;
}

.css-bayan:hover .css-bayan__radio:checked ~ .css-bayan__label .css-bayan__icon,
.css-bayan:hover .css-bayan__radio:not(:checked) ~ .css-bayan__label .css-bayan__icon {
  opacity: 1;
}

.css-bayan__item:active .css-bayan__label > .css-bayan__box,
.css-bayan__item:active .css-bayan__label > .css-bayan__article {
  color: #0020d5;
  opacity: 0.8;
}
.css-bayan__item:active .css-bayan__label > .css-bayan__box .css-bayan__icon path {
  fill: #0020d5;
}

.css-bayan__item:hover .css-bayan__label > .css-bayan__article {
  transition: height 0.3s ease 0s;
  height: 380px;
  padding-bottom: 20px;
  padding-top: 10px;
}
/*.css-bayan__item:hover > .css-bayan__label .css-bayan__icon {
  transition: all 1s ease 0s;
}*/

.css-bayan__item:hover > .css-bayan__label .css-bayan__icon,
.css-bayan:hover .css-bayan__radio:checked ~ .css-bayan__label .css-bayan__icon {
  transform: rotate(45deg);
  transform-origin: center;
}

.css-bayan__radio {
  display: none;
}

.css-bayan__article {
  overflow: hidden;
  height: 0;
  text-align: center;
}

.css-bayan:hover .css-bayan__label {
  color: black;
}

.css-bayan__radio:checked ~ .css-bayan__label {
  color: black;
}
.css-bayan__radio:checked ~ .css-bayan__label > .css-bayan__article {
  transition: height 0.3s ease 0s;
  height: 380px;
  padding-bottom: 20px;
  padding-top: 10px;
}
