* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  background-color: #f5f5eb;
}

.container {
  max-width: 800px;
  margin: auto;
}
@media screen and (max-width: 815px) {
  html {
    font-size: 90%;
  }
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 600px) {
  html {
    font-size: 80%;
  }
}
