* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--blue);
  font-weight: 700;
  background-color: var(--main-background);
}

.container {
  max-width: 50rem;
  margin: auto;
}
@media screen and (max-width: 815px) {
  html {
    font-size: 90%;
  }
  .container {
    padding-left: var(--container-pd-lr);
    padding-right: var(--container-pd-lr);
  }
}

@media screen and (max-width: 600px) {
  html {
    font-size: 80%;
  }
}
