* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  color: #0020d5;
  font-weight: 700;
  background-color: #f5f5eb;
}

.container {
  max-width: 50rem;
  margin: auto;
}
@media screen and (max-width: 815px) {
  html {
    font-size: 90%;
  }
  .container {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
  }
}

@media screen and (max-width: 600px) {
  html {
    font-size: 80%;
  }
}
